This is code example '{{inventory_hostname}}':
-----------------------------------------------

Description:
~~~~~~~~~~~~
{{ description | default("not_found") | to_nice_yaml }}

Source data:
~~~~~~~~~~~~
{{ source_data | default("not_found") | pprint }}
{% set tasks_list = run_ansible_tasks | default([]) %}
{% if tasks_list | length > 0 %}

run_ansible_tasks:
~~~~~~~~~~~~~~~~~~
{{ tasks_list | to_nice_yaml}}
{%   for f in tasks_list if not (hide_ansible_tasks|default(False)) %}

File: {{ f }}
{{ lookup('file', playbook_dir + '/roles/run_example/tasks/' + f).split('\n') | to_nice_yaml }}
{%   endfor %}
{% endif %}

Test series:
~~~~~~~~~~~~~
{{ examples | default("not_found") | to_nice_yaml }}
-----------------------------------------------
